body,
html {
    height: 100%;
    font-family: Poppins-Thin;
    margin: 0;
    background: #2c3e50;
}

div {
    font-family: Poppins-Thin;
    font-size: 24px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    color: black;
    line-height: 0px;
}

h2 {
    color: white;
}

input {
    font-family: Poppins-Thin;
}

.el-input{
    font-size: 24px;
}

/* Custom classes */

.schedule-div{
    width: 45%; float: left;
    padding: 2%;
}

.schedule-div .el-table{
    /* box-shadow: 0px 0px 20px 5px #e6e6e6; */
    border-radius: 15px;
}

.schedule-div .el-table .cell{
    text-align: center;
}

.schedule-div .el-table .cell input{
    text-align: center;
}

/* Element UI */
.el-table .cell{
    overflow: visible;
}

.el-button {
    padding: 10px;
}

.custom-el-button-primary{
    background: #007c89;
    border-color: #007c89;
}

.custom-el-button-primary:hover{
    background: #409EFF;
    border-color: #409EFF;
}