<template>
    <div class="schedule-div">
      <el-table
      :data="prayerTableData"
      stripe border
      :cell-style="{height: '80px'}" >
        <el-table-column
          prop="prayer"
          label="Prayer">
        </el-table-column>
        <el-table-column
          prop="adhan"
          label="Adhan">
        </el-table-column>
        <el-table-column
          prop="iqama"
          label="Iqama">
            <template slot-scope="scope" v-if="scope.row.prayer !== 'Sunrise' && scope.row.prayer !== 'Jumma'">
              <el-input maxlength="5" v-model="scope.row.iqama"></el-input>
            </template>
        </el-table-column>
        <el-table-column>
          <template slot-scope="scope" v-if="scope.row.prayer !== 'Sunrise' && scope.row.prayer !== 'Jumma'" >
            <el-button type="default" @click="handleResetRow(scope.$index)">Reset</el-button>
            <el-button type="primary" class="custom-el-button-primary" @click="handleSaveRow(scope.$index)">Save</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
</template>

<script>
import "../css/main.css";

export default {
  props: ['adhans', 'iqamas', 'saveIqamaTimes', 'resetIqamaTime'],
  data() {
    return {
      time_now: "",
      jumma_adhan: localStorage.getItem("jumma_adhan")
    };
  },

  created() {
    var datetime = new Date().toString().split(" ");
    this.time_now = datetime[4];
  },

  computed: {
    prayerTableData: function() {
      return [{
          prayer: 'Fajr',
          adhan: this.adhans.Fajr,
          iqama: this.iqamas.Fajr,
          time_format_error: null,
        }, {
          prayer: 'Sunrise',
          adhan: this.adhans.Sunrise,
          iqama: '-',
          time_format_error: null,
        }, {
          prayer: 'Dhuhr',
          adhan: this.adhans.Dhuhr,
          iqama: this.iqamas.Dhuhr,
          time_format_error: null,
        }, {
          prayer: 'Asr',
          adhan: this.adhans.Asr,
          iqama: this.iqamas.Asr,
          time_format_error: null,
        }, {
          prayer: 'Maghrib',
          adhan: this.adhans.Maghrib,
          iqama: this.iqamas.Maghrib,
          time_format_error: null,
        }, {
          prayer: 'Isha',
          adhan: this.adhans.Isha,
          iqama: this.iqamas.Isha,
          time_format_error: null,
        }, {
          prayer: 'Jumma',
          adhan: this.jumma_adhan,
          iqama: '-',
          time_format_error: null,
        }]
    },
  },

  methods: {
    // Validate fields
    validate: function(row){
      if (!row.iqama.match('^([01][0-9]|2[0-3]):([0-5][0-9])$')){
        row.time_format_error = `${row.prayer} time format must match HH:MM`;
        this.$message.error(row.time_format_error)
      }
      else if (row.iqama < row.adhan){
        row.time_format_error =  `${row.prayer} iqama time must be greater than or equal to Adhan time`;
        this.$message.error(row.time_format_error)
      } else {
        row.time_format_error = null;
      }
    },

    async handleSaveRow(index) {
      let row = this.prayerTableData[index];
      this.validate(row)

      if (row.time_format_error === null){
        const headers = { "Content-Type": "application/json", "jwt": localStorage.getItem("token")}
        let data = {}
        data[row.prayer] = row.iqama
        try { 
          await this.saveIqamaTimes(headers, data) 
          this.$message.success(`Successfully saved ${row.prayer} time`);
        } catch (error) {
          console.error(error)
          this.$message.error(`Failed to save ${row.prayer} time`);
        }
      }
    },

    async handleResetRow(index){
      const headers = {"jwt": localStorage.getItem("token")}
      let row = this.prayerTableData[index]
      try { 
          await this.resetIqamaTime(headers, row.prayer)
          this.$message.success(`Successfully reset ${row.prayer} time`);
        } catch (error) {
          console.error(error)
          this.$message.error(`Failed to reset ${row.prayer} time`);
        }
    }
  }
};
</script>

// Add "scoped" attribute to limit CSS to this component only
<style scoped>
</style>
