<template>
  <div class="main_div">

    <EditPrayerTimesSchedule :adhans="adhans" :iqamas="iqamas" :saveIqamaTimes="saveIqamaTimes" :resetIqamaTime="resetIqamaTime"/>

    <EditClassSchedule :adhans="adhans" :iqamas="iqamas" :fetchTimes="fetchTimes"/>

  </div>
</template>

<script>
import "../css/main.css";
import EditPrayerTimesSchedule from "./EditPrayerTimesSchedule";
import EditClassSchedule from "./EditClassSchedule";

export default {
  props: ['adhans', 'iqamas', 'fetchTimes', 'saveIqamaTimes', 'resetIqamaTime'],
  components: {
    "EditPrayerTimesSchedule": EditPrayerTimesSchedule,
    "EditClassSchedule": EditClassSchedule
  }

};
</script>

// Add "scoped" attribute to limit CSS to this component only
<style scoped>
</style>
