<template>
    <div class="schedule-div" style="float: right">
      <el-table
      :data="classTableData"
      stripe border
      :cell-style="{height: '80px'}" >
        <el-table-column
          prop="day"
          label="Day">
        </el-table-column>
        <el-table-column
          prop="class_name"
          label="Class Name">
            <template slot-scope="scope">
              <el-input maxlength="25" v-model="scope.row.class_name"></el-input>
            </template>
        </el-table-column>
        <el-table-column
          prop="class_time"
          label="Class Time">
            <template slot-scope="scope">
              <el-input maxlength="5" v-model="scope.row.class_time"></el-input>
            </template>
        </el-table-column>
        <el-table-column>
          <template slot-scope="scope" >
            <el-button type="primary" class="custom-el-button-primary" @click="handleSaveRow(scope.$index)">Save</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
</template>

<script>
import "../css/main.css";

export default {
  computed: {
    classTableData: function() {
      return [{
          day: 'Monday',
          class_name: localStorage.getItem("class_name0"),
          class_time: localStorage.getItem("class_start_time0"),
          time_format_error: null,
        }, {
          day: 'Tuesday',
          class_name: localStorage.getItem("class_name1"),
          class_time: localStorage.getItem("class_start_time1"),
          time_format_error: null,
        }, {
          day: 'Wednesday',
          class_name: localStorage.getItem("class_name2"),
          class_time: localStorage.getItem("class_start_time2"),
          time_format_error: null,
        }, {
          day: 'Thursday',
          class_name: localStorage.getItem("class_name3"),
          class_time: localStorage.getItem("class_start_time3"),
          time_format_error: null,
        }, {
          day: 'Friday',
          class_name: localStorage.getItem("class_name4"),
          class_time: localStorage.getItem("class_start_time4"),
          time_format_error: null,
        }, {
          day: 'Saturday',
          class_name: localStorage.getItem("class_name5"),
          class_time: localStorage.getItem("class_start_time5"),
          time_format_error: null,
        }, {
          day: 'Sunday',
          class_name: localStorage.getItem("class_name6"),
          class_time: localStorage.getItem("class_start_time6"),
          time_format_error: null,
        }]
    },
  },

  methods: {
    // Validate fields
    validate: function(row){
      if (!row.class_time.match('^([01][0-9]|2[0-3]):([0-5][0-9])$')){
        row.time_format_error = `${row.day} time format must match HH:MM`;
        this.$message.error(row.time_format_error)
      } else {
        row.time_format_error = null;
      }
    },

    async handleSaveRow(index) {
      let row = this.classTableData[index];
      this.validate(row)

      if (row.time_format_error === null){
        localStorage.setItem("class_name"+[index], row.class_name);
        localStorage.setItem("class_start_time"+[index], row.class_time);
        this.$message.success("Successfully saved class information");
      }
    }
  }

};
</script>

// Add "scoped" attribute to limit CSS to this component only
<style scoped>
</style>
