<template>
  <div>
    <TheNavbar v-if="this.$route.path!='/login'" :adhans="adhans" :iqamas="iqamas" :fetchTimes="fetchTimes" />
    <router-view :adhans="adhans" :iqamas="iqamas" :fetchTimes="fetchTimes" :saveIqamaTimes="saveIqamaTimes" :resetIqamaTime="resetIqamaTime"/>
    <TheFooter v-if="this.$route.path!='/login'" :adhans="adhans" :iqamas="iqamas"/>
  </div>
</template>

<script>
import TheFooter from './TheFooter'
import TheNavbar from './TheNavbar'
import prayertimesapi from '../prayertimesapi'

export default {
  components: {TheFooter, TheNavbar},

  data() {
      return {
        date_today: "",
        adhans: {},
        iqamas: {},
      }
    },

  async mounted() {
    const new_adhans = await prayertimesapi.get('/prayertimes')
    this.adhans = this.reformatPrayerTimes(new_adhans.data.data.timings);
    
    const new_iqamas = await prayertimesapi.get('/iqama')
    this.iqamas = new_iqamas.data.data.timings

    // Initialize Local Storage
    if(!localStorage.getItem("jumma_adhan")){
      localStorage.setItem("jumma_adhan", "13:00");
    }
    if(!localStorage.getItem("class_start_time0")){
      localStorage.setItem("class_name0", "__");
      localStorage.setItem("class_name1", "سيرة رسول الله ﷺ");
      localStorage.setItem("class_name2", "__");
      localStorage.setItem("class_name3", "مادة الفقه الإسلامي");
      localStorage.setItem("class_name4", "تفسير القرآن الكريم ");
      localStorage.setItem("class_name5", "شـرح أسمـاء الله الحـسنى");
      localStorage.setItem("class_name6", "__");

      localStorage.setItem("class_start_time0", "00:00");
      localStorage.setItem("class_start_time1", "00:00");
      localStorage.setItem("class_start_time2", "00:00");
      localStorage.setItem("class_start_time3", "00:00");
      localStorage.setItem("class_start_time4", "00:00");
      localStorage.setItem("class_start_time5", "00:00");
      localStorage.setItem("class_start_time6", "00:00");
    }

  },

  created: function() {
		var self = this;
    // fetch prayertimes if date has changed
    setInterval(function() {
      var old_date = this.date_today; 

      var datetime = new Date().toString().split(" ");
      this.date_today = datetime[1] + " " + datetime[2] + ", " + datetime[3];

      if (old_date) {
        if (old_date != this.date_today) {
          self.fetchTimes();
        }
      }
    }, 60000);
  },

  methods:{
    async fetchTimes() {
      const new_adhans = await prayertimesapi.get('/prayertimes')
      this.adhans = this.reformatPrayerTimes(new_adhans.data.data.timings);

      const new_iqamas = await prayertimesapi.get('/iqama')
      this.iqamas = new_iqamas.data.data.timings
    },

    async saveIqamaTimes(headers, data){
      await prayertimesapi.post('/iqama', data, {headers: headers})
    },

    async resetIqamaTime(headers, prayer_name){
      await prayertimesapi.delete('/iqama/'+prayer_name, {headers: headers})
    },

    reformatPrayerTimes: function(data) {
      // Removes (EDT) from prayertimes
      data.Fajr = data.Fajr.slice(0, 5);
      data.Sunrise = data.Sunrise.slice(0, 5);
      data.Dhuhr = data.Dhuhr.slice(0, 5);
      data.Asr = data.Asr.slice(0, 5);
      data.Maghrib = data.Maghrib.slice(0, 5);
      data.Isha = data.Isha.slice(0, 5);
      return data
    }
  }
}
</script>

<style>
</style>

