<template> 
  <div>
    <div class="schedule-div">
      <el-table
      :data="prayerTableData"
      stripe border
      :cell-style="{height: '80px'}" >
        <el-table-column
          prop="prayer"
          label="Prayer">
        </el-table-column>
        <el-table-column
          prop="adhan"
          label="Adhan">
        </el-table-column>
        <el-table-column
          prop="iqama"
          label="Iqama">
        </el-table-column>
      </el-table>
    </div>

    <div class="schedule-div" style="float: right">
      <el-table
      :data="classTableData"
      stripe border
      :cell-style="{height: '80px'}">
        <el-table-column
          prop="day"
          label="Day">
        </el-table-column>
        <el-table-column
          prop="name"
          label="Class Name">
        </el-table-column>
        <el-table-column
          prop="time"
          label="Time">
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import "./css/main.css";

export default {
  props: ['adhans', 'iqamas'],
  data() {
    return {
      token: "",
    };
  },

  computed: {
    prayerTableData: function() {
      return [{
          prayer: 'Fajr',
          adhan: this.adhans.Fajr,
          iqama: this.iqamas.Fajr,
        }, {
          prayer: 'Sunrise',
          adhan: this.adhans.Sunrise,
          iqama: '-'
        }, {
          prayer: 'Dhuhr',
          adhan: this.adhans.Dhuhr,
          iqama: this.iqamas.Dhuhr,
        }, {
          prayer: 'Asr',
          adhan: this.adhans.Asr,
          iqama: this.iqamas.Asr,
        }, {
          prayer: 'Maghrib',
          adhan: this.adhans.Maghrib,
          iqama: this.iqamas.Maghrib,
        }, {
          prayer: 'Isha',
          adhan: this.adhans.Isha,
          iqama: this.iqamas.Isha,
        }, {
          prayer: 'Jumma',
          adhan: localStorage.getItem("jumma_adhan"),
          iqama: '-'
        }]
    },
    classTableData: function() {
      return [{
          day: 'Monday',
          name: localStorage.getItem("class_name0"),
          time: localStorage.getItem("class_start_time0"),
        }, {
          day: 'Tuesday',
          name: localStorage.getItem("class_name1"),
          time: localStorage.getItem("class_start_time1"),
        }, {
          day: 'Wednesday',
          name: localStorage.getItem("class_name2"),
          time: localStorage.getItem("class_start_time2"),
        }, {
          day: 'Thursday',
          name: localStorage.getItem("class_name3"),
          time: localStorage.getItem("class_start_time3"),
        }, {
          day: 'Friday',
          name: localStorage.getItem("class_name4"),
          time: localStorage.getItem("class_start_time4"),
        }, {
          day: 'Saturday',
          name: localStorage.getItem("class_name5"),
          time: localStorage.getItem("class_start_time5"),
        }, {
          day: 'Sunday',
          name: localStorage.getItem("class_name6"),
          time: localStorage.getItem("class_start_time6"),
        }]
    }
    
  }
};
</script>

// Add "scoped" attribute to limit CSS to this component only
<style scoped>
</style>
