<template>
  <div id="app">
    <div class="login">
      <el-button-group class="top-left-fixed">
        <el-button @click="goToHomePage" style="padding: 5px 10px; margin: 10px 10px">Home</el-button>
      </el-button-group>
      <el-card id="box-card">
        <h2 style="text-align: center">Account Login</h2>
          <el-form
          class="login-form"
          :model="model"
          :rules="rules"
          ref="form"
          @submit.native.prevent="login"
          >
            <el-form-item prop="username">
              <el-input maxlength="16" v-model="model.username" placeholder="Username" prefix-icon="fas fa-user"></el-input>
            </el-form-item>

            <el-form-item prop="password">
              <el-input
                maxlength="16"
                v-model="model.password"
                placeholder="Password"
                type="password"
                prefix-icon="fas fa-lock"
              ></el-input>
            </el-form-item>

            <el-form-item>
              <el-button
                class="login-button"
                type="primary"
                native-type="submit"
                block
              >Login</el-button>
          </el-form-item>
          </el-form>
      </el-card>
    </div>
  </div>
</template>


<script>
import prayertimeapi from "../prayertimesapi"

export default {
  data() {
    return {
      model: {
        username: "",
        password: ""
      },
      rules: {
        username: [
          {
            required: true,
            message: "Username is required",
            trigger: "blur"
          },
          {
            min: 4,
            message: "Username length should be at least 4 characters",
            trigger: "blur"
          }
        ],
        password: [
          { 
            required: true, 
            message: "Password is required", 
            trigger: "blur" 
          },
          {
            min: 4,
            message: "Password length should be at least 4 characters",
            trigger: "blur"
          }
        ]
      }
    };
  },

  methods: {
    updateToken: async function(token) {
      localStorage.removeItem("token") // Keep changing tokens

      localStorage.setItem("token", token);

      this.$router.push("/");
      try { await this.fetchTimes() } catch (error) {console.error(error)}
    },

    async simulateLogin() {
      const headers = { "Content-Type": "application/json" }
      const data = { username: this.model.username, password: this.model.password }
      await prayertimeapi.post("/login", data, {headers: headers},).then(response => {
        if (response.data.success == false) {
          this.$message.error("Username or password is invalid");
        } else {
          this.$message.success("Login successful");
          this.updateToken(response.data.token)
        }
      })
    },

    async login() {
      let valid = await this.$refs.form.validate();
      if (!valid) {
        return;
      }
      await this.simulateLogin();
    },

    goToHomePage: async function(){
      this.$router.push("/");
      try { await this.fetchTimes() } catch (error) {console.error(error)}
    }
  }
}
</script>

<style scoped>  
  #app {
    font-family: Poppins-Thin;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  body {
    margin: 0;
    padding: 0;
  }
  h2 {
    letter-spacing: 1px;
    font-family: Poppins-Thin;
    padding: 35px;
    color: black;
  }

  .top-left-fixed {
      position: fixed;
      left: 0;
      top: 0;
  }
  .login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-button {
    width: 100%;
    margin-top: 40px;
    background: #007c89;
    border-color: #007c89;
  }

  .login-button:hover{
      background: #409EFF;
      border-color: #409EFF;
  }

  .login .el-card {
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
  }
</style>