<template>
  <div id="footer">
    {{announceAdhanIqama()}}
    <el-row :gutter="20" type="flex" justify="start" v-if="is_announcing" style="letter-spacing: 1px;">
      <el-col :span=12> 
        <div> 
          <h2 style="text-align: center; letter-spacing: 8px;"> {{announcement_english}} </h2>  
        </div>
      </el-col>
      <el-col :span=12> 
        <div> 
          <h2 style="text-align: center;"> {{announcement_arabic}} </h2>
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="20" type="flex" justify="start" v-else style="padding-top: 10px; letter-spacing: 8px">
      <el-col :span=12> 
        <div> 
          {{nextAdhan()}}
          <h2 style="text-align: center"> {{next_adhan_text}} {{next_adhan}}</h2> 
        </div>
      </el-col>
      <el-col :span=12> 
        <div> 
          {{nextIqama()}}
          <h2 style="text-align: center"> {{next_iqama_text}} {{next_iqama}}</h2>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import "../components/css/main.css";

export default {
  props: ['adhans', 'iqamas'],

  data() {
    return {
      time_now: "",
      announcement_english: "",
      announcement_arabic: "",
      next_adhan: "...",
      next_iqama: "...",
      next_adhan_text: "Loading",
      next_iqama_text: "Loading",
      is_announcing: false,
    }
  },

  created() {
    setInterval(() => {
      var datetime = new Date().toString().split(" ");
      this.time_now = datetime[4];
      this.date_today = datetime[1] + " " + datetime[2] + ", " + datetime[3];
    }, 1000);
  },

  methods: {
    calculateNextPrayerTime: function(fajr, dhuhr, asr, maghrib, isha, prayerType){
      let next_prayer_text = "Loading"
      let next_prayer = "..."

      // Wait for page to load and we have the value of 'time_now'
      var time = this.time_now.split(":")[0] + this.time_now.split(":")[1];

      if (  (time >= isha && time < "2359") || (time >= "0000" && time < fajr)) {
        next_prayer = fajr.substr(0, 2) + ":" + fajr.substr(2)
        next_prayer_text = `Fajr ${prayerType}`
      }
      
      else if (time >= maghrib && time < isha) {
        next_prayer = isha.substr(0, 2) + ":" + isha.substr(2)
        next_prayer_text = `Isha ${prayerType}`
      } 
      
      else if (time >= asr && time < maghrib) {
        next_prayer = maghrib.substr(0, 2) + ":" + maghrib.substr(2)
        next_prayer_text = `Maghrib ${prayerType}`
      } 
      
      else if (time >= dhuhr && time < asr) {
        next_prayer = asr.substr(0, 2) + ":" + asr.substr(2)
        next_prayer_text = `Asr ${prayerType}`
      } 
      
      else if (time >= fajr && time < dhuhr) {
        next_prayer = dhuhr.substr(0, 2) + ":" + dhuhr.substr(2)
        next_prayer_text = `Dhuhr ${prayerType}`
      }

      return [next_prayer, next_prayer_text]
    },

    nextAdhan: function() {
      if (!this.time_now) return

      // Write adhans as integers
      var fajr =
        this.adhans.Fajr.split(":")[0] +
        this.adhans.Fajr.split(":")[1];
      var dhuhr =
        this.adhans.Dhuhr.split(":")[0] +
        this.adhans.Dhuhr.split(":")[1];
      var asr =
        this.adhans.Asr.split(":")[0] +
        this.adhans.Asr.split(":")[1];
      var maghrib =
        this.adhans.Maghrib.split(":")[0] +
        this.adhans.Maghrib.split(":")[1];
      var isha =
        this.adhans.Isha.split(":")[0] +
        this.adhans.Isha.split(":")[1];

      // Determine next adhan:
      let next_adhan_text = "Loading"
      let next_adhan = "..."

      const next_prayer = this.calculateNextPrayerTime(fajr, dhuhr, asr, maghrib, isha, 'Adhan')

      this.next_adhan = next_prayer[0]
      this.next_adhan_text = next_prayer[1]
    },

    nextIqama: function() {
      if (!this.time_now) return

      // Write iqamas as integers
      var fajr =
        this.iqamas.Fajr.split(":")[0] +
        this.iqamas.Fajr.split(":")[1];
      var dhuhr =
        this.iqamas.Dhuhr.split(":")[0] +
        this.iqamas.Dhuhr.split(":")[1];
      var asr =
        this.iqamas.Asr.split(":")[0] +
        this.iqamas.Asr.split(":")[1];
      var maghrib =
        this.iqamas.Maghrib.split(":")[0] +
        this.iqamas.Maghrib.split(":")[1];
      var isha =
        this.iqamas.Isha.split(":")[0] +
        this.iqamas.Isha.split(":")[1];

      let next_iqama_text = "Loading"
      let next_iqama = "..."
      
      const next_prayer = this.calculateNextPrayerTime(fajr, dhuhr, asr, maghrib, isha, 'Iqama')

      this.next_iqama = next_prayer[0]
      this.next_iqama_text = next_prayer[1]
    },
    
    announceAdhanIqama: function() {
      let time = this.time_now.split(":")[0] + this.time_now.split(":")[1];

      // Ensure prayer times are fetched
      if (!this.time_now) return

     // Write adhans as integers
      let full_fajr_adhan = this.adhans.Fajr.split(":")[0] + this.adhans.Fajr.split(":")[1];
      let full_dhuhr_adhan = this.adhans.Dhuhr.split(":")[0] + this.adhans.Dhuhr.split(":")[1];
      let full_asr_adhan = this.adhans.Asr.split(":")[0] + this.adhans.Asr.split(":")[1];
      let full_maghrib_adhan = this.adhans.Maghrib.split(":")[0] + this.adhans.Maghrib.split(":")[1];
      let full_isha_adhan = this.adhans.Isha.split(":")[0] + this.adhans.Isha.split(":")[1];

      // Write iqamas as integers
      let full_fajr_iqama = this.iqamas.Fajr.split(":")[0] + this.iqamas.Fajr.split(":")[1];
      let full_dhuhr_iqama = this.iqamas.Dhuhr.split(":")[0] + this.iqamas.Dhuhr.split(":")[1];
      let full_asr_iqama = this.iqamas.Asr.split(":")[0] + this.iqamas.Asr.split(":")[1];
      let full_maghrib_iqama = this.iqamas.Maghrib.split(":")[0] + this.iqamas.Maghrib.split(":")[1];
      let full_isha_iqama = this.iqamas.Isha.split(":")[0] + this.iqamas.Isha.split(":")[1];

      // Full adhan and iqama list
      let full_prayer_name_list = ["Fajr", "Dhuhr", "Asr", "Maghrib", "Isha"]
      let full_prayer_name_arabic_list = ["الفجر", "الظهر", "العصر", "المغرب", "العشاء"]
      let full_adhan_list = [full_fajr_adhan, full_dhuhr_adhan, full_asr_adhan, 
                            full_maghrib_adhan, full_isha_adhan]
      let full_iqama_list = [full_fajr_iqama, full_dhuhr_iqama, full_asr_iqama, 
                            full_maghrib_iqama, full_isha_iqama]

      let announcement = []

      for (let i = 0; i < 5; i++) {
        if (time >= full_adhan_list[i] && time < full_iqama_list[i]) {
          announcement[0] = `Time for ${full_prayer_name_list[i]} Adhan`;
          announcement[1] = `حان وقت أذان صلاة ${full_prayer_name_arabic_list[i]}`;
          break;

        } else if (
          time == full_iqama_list[i] ||
          time == parseInt(full_iqama_list[i]) + 1 ||
          time == parseInt(full_iqama_list[i]) + 2
        ) {
          announcement[0] = `Time for ${full_prayer_name_list[i]} Iqama`;
          announcement[1] = `حان وقت إقامة صلاة ${full_prayer_name_arabic_list[i]}`;
          break;
        }
      }

      if (announcement.length != 0) {
        this.announcement_english = announcement[0]
        this.announcement_arabic = announcement[1]
        this.is_announcing = true
      } else {
        this.announcement_english = ""
        this.announcement_arabic = ""
        this.is_announcing = false
      }
    }
    
  },

};
</script>

// Add "scoped" attribute to limit CSS to this component only
<style scoped>
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
}
</style>
