<template>
  <div>
    <el-row :gutter="20" type="flex" justify="start">
      <el-col :span=12> 
        <div> 
          <h2 style="text-align: center; letter-spacing: 8px"> {{date_today}} </h2>  
        </div>
      </el-col>
      <el-col :span=12> 
        <div> 
          <h2 style="text-align: center; letter-spacing: 8px"> {{time_now}} </h2>
        </div>
      </el-col>
    </el-row>
    <div>
      <el-button-group class="top-left-fixed">
        <el-button v-if="this.$route.path == '/edit'" @click="goToHomePage" style="padding: 5px 10px; margin: 10px 10px">Home</el-button>
        <el-button v-if="this.$route.path == '/'" @click="goToEditPage" style="padding: 5px 10px; margin: 10px 10px">Edit</el-button>
      </el-button-group>
      <el-button class="top-right-fixed custom-el-button-primary" v-if="this.$route.path == '/edit'" type="primary" @click="logout" style="padding: 5px 10px; margin: 10px 10px">Logout</el-button>
    </div>
  </div>
</template>

<script>
import "../components/css/main.css";

export default {
  name: "PrayerTimeNav",
  props: ['fetchTimes'],

  data() {
    return {
      token: "",
      time_now: new Date().toString().split(" ")[4],
      old_date: new Date().toString().split(" ")[1] +
        " " + new Date().toString().split(" ")[2] + ", " + new Date().toString().split(" ")[3],
      date_today: new Date().toString().split(" ")[1] +
        " " + new Date().toString().split(" ")[2] + ", " + new Date().toString().split(" ")[3]
    };
  },

  created() {
    setInterval(() => {
      var datetime = new Date().toString().split(" ");
      this.time_now = datetime[4];
      this.date_today = datetime[1] + " " + datetime[2] + ", " + datetime[3];
    }, 1000);
  },

  methods: {
    logout: async function() {
      localStorage.removeItem("token");
      this.$router.push("/login");
    },
    goToEditPage: async function() {
      if (localStorage.getItem("token")) {
        this.$router.push("/edit");
        try { await this.fetchTimes() } catch (error) {console.warn(error)}
      }else{
        this.$router.push("/login");
      }
    },
    goToHomePage: async function(){
      this.$router.push("/");
      try { await this.fetchTimes() } catch (error) {console.warn(error)}
    }
  },
};
</script>

// Add "scoped" attribute to limit CSS to this component only
<style scoped>

.top-right-fixed {
    position: fixed;
    right: 0;
    top: 0;
}

.top-left-fixed {
    position: fixed;
    left: 0;
    top: 0;
}

h2 {
  margin-top: 2em;
}
</style>
